<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Trek Spot</title>
</head>

<body>
    <h1>
        Edit Trek Spot
    </h1>
    <form action="/treks/<%= trek._id %>?_method=put" method="post">
        <div>
            <label for="title">
                Title:
            </label>
            <input type="text" name="trek[title]" id="title" value="<%= trek.title %>">
        </div>
        <div>
            <label for="location">
                Location:
            </label>
            <input type="text" name="trek[location]" id="location" value="<%= trek.location %>">
        </div>
        <button>Update Trek Spot</button>
    </form>
    <a href="/treks/<%= trek._id %> ">Back to Trek</a>
</body>

</html>