<% layout("layouts/boilerplate") %>
    <h1>
        All Treks
    </h1>
    <a href="/treks/new">Create a New Trek Spot</a>
    <ul>
        <% for (let trek of treks){ %>
            <li>
                <%= trek.title%>
                    <a href="/treks/<%= trek._id%>">Details</a>
            </li>
            <% } %>
    </ul>