<% layout("layouts/boilerplate") %>
    <h1>
        Create a New Trek Spot
    </h1>
    <form action="/treks" method="post">
        <div>
            <label for="title">
                Title:
            </label>
            <input type="text" name="trek[title]" id="title">
        </div>
        <div>
            <label for="location">
                Location:
            </label>
            <input type="text" name="trek[location]" id="location">
        </div>
        <button>Add Trek Spot</button>
    </form>
    <a href="/treks">All Treks</a>