<% layout("layouts/customBoilerPlate.ejs") %>

    <div class="container navBarContainer mybox text-white my-auto text-center">
        <h4 class="trekkerHeading">
            Welcome to Trekker
        </h4>
        <div class="pt-2">
            <a href="/treks" id="myButton" class="px-2 py-1">Explore</a>
        </div>

    </div>