<% layout("layouts/customBoilerPlate.ejs") %>
    <h1 class="text-center display-5 mb-3">
        Log In
    </h1>


    <form action="/signin" method="POST" class="validatedForm" novalidate>
        <div class="w-50 text-center d-flex flex-column align-items-center justify-content-around mx-auto">
            <div class="mb-3">
                <label for="username" class="form-label">
                    Username
                </label>
                <input type="text" name="username" id="username" class="form-control" required autofocus>
                <div class="valid-feedback">
                    Theek 🤠
                </div>
                <div class="invalid-feedback">
                    Kripaya Username Dale
                </div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">
                    Password
                </label>
                <input type="password" name="password" id="password" class="form-control" required>
                <div class="valid-feedback">
                    Theek 🤠
                </div>
                <div class="invalid-feedback">
                    Kripaya Password Dale
                </div>
            </div>
            <button class="btn d-inline btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                </svg>
                Sign In
            </button>
        </div>
    </form>