.cardOfTrek{
    min-height: 68vh;
    width: 75vh;
    padding: 7px;
    color: white;
    background-color: black;
    border-radius: 2.0em;
    border: 5px solid white;
    box-sizing: border-box;
    margin: 10px;
    object-fit: contain;
}

.trekImage{
border-radius: 2em;
}
.trekTitle{
    font-size: 2rem;
}

